// .container{
//   overflow: hidden;
//  scrollbar-width: none;
//   /* Firefox에서 스크롤바 숨기기 */
//   }

/* Webkit 기반 브라우저 (크롬, 사파리 등)에서 스크롤바 숨기기 */
.container::-webkit-scrollbar {
  display: none;
  /* 스크롤바 숨기기 */
}
.nav__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  transform: translateY(-200px);
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  z-index: 100;
  transition: all 0.6s ease, var(--darkmode);
  opacity: 0;
  pointer-events: none;
  c &::-webkit-scrollbar {
    display: none;
  }
  &.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  .inner {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.5rem;
  }
  .nav {
    display: flex;
    gap: 13.688rem;
    width: 100%;
    .nav__ul {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      max-width: 50%;
      li {
        position: relative;
        .link {
          display: inline-block;
          font-weight: 600;
          font-size: 3.125rem;
          line-height: 1;
          letter-spacing: -0.02em;
          color: #c0c0c0;
          transition: all 0.4s ease;
          &:hover {
            color: var(--color-black);
          }
        }
      }
    }
  }
  .nav__infoBox {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    .info__item {
      position: relative;
      .txt {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.6;
        letter-spacing: -0.02em;
        color: var(--color-black);
        transition: var(--darkmode);
      }
    }
  }
}
.main_section {
  position: relative;
  width: 100%;
}
.ms1 {
  .inner {
    height: 100vh;
  }
  .ms1__textWrap {
    position: absolute;
    top: 50%;
    left: 4rem;
    font-size: 7.5rem;
    font-weight: 600;
    line-height: 1;
    transform: translate(0, -50%);
    letter-spacing: -0.02em;
    color: var(--color-black);
  }
  &.animate {
    .fixed_txtbox {
      .word {
        transform: translateY(0);
        &:nth-child(1) {
          transition-delay: 0.8s;
        }
        &:nth-child(2) {
          transition-delay: 0.9s;
        }
        &:nth-child(3) {
          transition-delay: 1s;
        }
        &:nth-child(4) {
          transition-delay: 1.1s;
        }
        &:nth-child(5) {
          transition-delay: 1.2s;
        }
        &:nth-child(6) {
          transition-delay: 1.3s;
        }
        &:nth-child(7) {
          transition-delay: 1.4s;
        }
      }
    }
    .ani_txtbox {
      transform: translateY(0);
      opacity: 1;
      transition: transform 0.8s ease 1.5s, opacity 0.8s ease 1.5s;
    }
    .ms1__videoWrap {
      .ms1__vidbox {
        opacity: 1;
      }
    }
  }

  .fixed_txtbox {
    display: flex;
    align-items: baseline;
    height: 1em;
    overflow: hidden;
    .word {
      display: inline-block;
      transform: translateY(100%);
      transition: transform 0.4s ease;
      &.blank {
        width: 0.2em;
      }
    }
  }
  .ani_txtbox {
    display: flex;
    align-items: baseline;
    gap: 0.125em;
    height: 1em;
    transform: translateY(100%);
    opacity: 0;
    .blink {
      width: 3.125rem;
      height: 0.75rem;
      background: var(--color-black);
      animation: blink 1s linear infinite;
      transition: var(--darkmode);
    }
    .typing {
      display: inline-block;
      min-height: 1em;
    }
  }

  .ms1__videoWrap {
    position: absolute;
    top: 80px;
    right: 4rem;
    width: calc((100% - 8rem) / 2);
    height: calc(100vh - 80px - 2rem);
    will-change: width;
    z-index: 2;
    .ms1__vidbox {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 2.5rem;
      overflow: hidden;
      display: flex;
      transition: all 0.8s ease;
      opacity: 0;
      .ms1__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@keyframes blink {
  0%,
  49.9% {
    opacity: 1;
  }
  50%,
  99.9% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ms2 {
  .ms2__content_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    --box-width: 26.875rem;

    .ms2__content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .bg_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: no-repeat center / cover;
        transition: all 0.4s ease;
      }
      .left {
        .link__item {
          .bg_img {
            opacity: 0;
          }
        }
      }
      .link__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.875rem;
        position: relative;
        height: 100%;
        .top__box {
          position: relative;
          .number {
            font-size: 5rem;
            font-weight: 600;
            letter-spacing: -0.02em;
            color: var(--color-black);
            transition: all var(--darkmode) ease;
          }
        }
        .bottom__box {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .tit {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 1.3;
            letter-spacing: -0.02em;
            color: var(--color-black);
            transition: all 0.4s ease;
          }
        }
      }
      .top__left {
        .top {
          display: flex;
          gap: 1.5rem;
          > .item {
            &.left {
              flex: 1;
              max-width: calc(100% - 16.125rem - 1.5rem);
            }
            &.right {
              width: 16.125rem;
              .link {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                .map {
                  background-image: url(../images/ms2_map.jpg);
                }
                &:hover {
                  .map {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
        }
      }
      .bottom__item {
        &.bottom1 {
          padding: 1.875rem;
          width: 16.125rem;
        }
        &.bottom2 {
          width: calc(100% - 16.125rem * 2 - 1.5rem * 2);
        }
        &.bottom3 {
          width: 16.125rem;
        }
        &.bottom3 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .bg_img {
            opacity: 1;
            &.dark {
              background-image: url(../images/darkmode_bg.jpg);
            }
          }
          .top_box {
            position: relative;
            display: flex;
            justify-content: flex-end;
            padding: 1.875rem;
            .icon {
              width: 1.875rem;
              aspect-ratio: 1 / 1;
              background: no-repeat center / cover;
              background-image: url(../images/mode_dark.png);
            }
          }
          .bottom_box {
            position: relative;
            padding: 1.875rem;
            .txt {
              font-weight: 500;
              font-size: 1.25rem;
              line-height: 1.2;
              letter-spacing: -0.02em;
              transition: all 0.4s ease;
              &.dark_txt {
                color: var(--color-white);
              }
              &.light_txt {
                position: absolute;
                opacity: 0;
                color: var(--color-black);
              }
            }
          }
        }
      }
      .top__right {
        width: var(--box-width);

        .top__right__item {
          position: relative;
          border-radius: var(--radius);
          overflow: hidden;
          background-color: var(--color-box-bg);
          transition: var(--darkmode);

          &.top {
            height: 16.125rem;
            > .item {
              position: relative;
              width: 100%;
              height: 100%;
              .ourCulture {
                background-image: url(../images/ms2_ourCulture.jpg);
              }
              .hover__txt {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                text-align: center;
                color: var(--color-white);
                line-height: 1.3;
                letter-spacing: -0.02em;
                font-size: 1rem;
                font-weight: 500;
                opacity: 0;
                transition: 0.4s all ease;
              }
              &:hover {
                .bg_img,
                .hover__txt {
                  opacity: 1;
                }
                .number {
                  color: #117378;
                }
              }
            }
          }
          &.bottom {
            height: 44rem;
            background: none;
            border: none;
            > .item {
              position: absolute;
              left: 0;
              bottom: 0;
              border-radius: 1.5rem 1.5rem 0 0;
              transition: 0.4s all ease;
              color: var(--color-white);
              width: 100%;
              background: none;
              border: none;
              &::after {
                content: "";
                background: url(../images/ui_bar.png) no-repeat center / contain;
                width: 3.125rem;
                height: 4px;
                position: absolute;
                left: 50%;
                top: 1rem;
                z-index: 20;
                transform: translateX(-50%);
              }
              .link {
                width: 100%;
                height: 100%;
                display: block;
                .bg_img {
                  opacity: 0;
                  &.career {
                    background-image: url(../images//ms2_career.jpg);
                  }
                  &.contact {
                    background-image: url(../images//ms2_contact.jpg);
                  }
                  &.counseling {
                    background-image: url(../images//ms2_counseling.jpg);
                  }
                  &.kspm {
                    background-image: url(../images//ms2_KSPM.jpg);
                  }
                }
                .txt__box {
                  position: relative;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  gap: 1rem;
                  padding: 3.125rem 1.875rem 1.875rem;
                  transition: all 0.4s ease;
                  letter-spacing: -0.02em;
                  .left {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .tit {
                      font-size: 1.875rem;
                      font-weight: 700;
                      line-height: 1;
                    }
                    .desc {
                      font-size: 1rem;
                      font-weight: 500;
                      line-height: 1.3;
                    }
                  }
                  .right {
                    opacity: 0;
                    transition: all 0.4s ease;
                  }
                }
              }
              &.item1 {
                background: var(--color-black);
                height: 100%;
              }
              &.item2 {
                background: #4b4c50;
                height: 80%;
              }
              &.item3 {
                background: #bdbec0;
                color: var(--color-black);
                height: 60%;
              }
              &.item4 {
                background: var(--color-box-bg);
                color: var(--color-black);
                height: 40%;
              }
              &.on {
                .txt__box {
                  .right {
                    opacity: 1;
                  }
                }
                .bg_img {
                  opacity: 1;
                }
              }
            }
            &.hover1 {
              .item2 {
                height: 8.25rem;
              }
              .item3 {
                height: 4.5rem;
              }
              .item4 {
                height: 2.25rem;
              }
            }
            &.hover2 {
              .item2 {
                height: calc(100% - 3.75rem);
              }
              .item3 {
                height: 6rem;
              }
              .item4 {
                height: 2.25rem;
              }
            }
            &.hover3 {
              .item2 {
                height: calc(100% - 2.25rem);
              }
              .item3 {
                height: calc(100% - 6rem);
              }
              .item4 {
                height: 3.75rem;
              }
            }
            &.hover4 {
              .item2 {
                height: calc(100% - 2.25rem);
              }
              .item3 {
                height: calc(100% - 4.5rem);
              }
              .item4 {
                height: calc(100% - 8.25rem);
              }
            }
          }
        }
      }
      .bottom2 {
        .partner__box {
          padding: 1.875rem 0 3.75rem;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .marquee {
            display: flex;
            justify-content: center;
            gap: var(--marquee-gap);
            .marquee__group {
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: var(--marquee-gap);
              > .item {
                border-radius: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1.875rem;
                img {
                  height: 100%;
                  width: auto;
                }
              }
            }
          }
          .bottom_box {
            position: absolute;
            left: 0;
            bottom: 1.875rem;
            padding: 0 1.875rem;
            font-weight: bold;
          }
        }
      }
      &.ms2__left {
        width: var(--box-width);

        .item {
          width: 100%;

          &.left1 {
            height: 24.75rem;

            .ms2_matter {
              width: 100%;
              height: 100%;
            }
          }

          &.left2 {
            height: 13.25rem;
            cursor: pointer;

            .bg__img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: no-repeat center/cover;
              transition: var(--darkmode);

              &.light {
                background-image: url("../images/ms2_light.jpg");
              }
            }

            .txt {
              font-weight: 600;
              font-size: 1.5rem;
              line-height: 100%;
              letter-spacing: -0.02em;
              color: #1e1e1e;
              transition: var(--darkmode);
              position: absolute;
              left: 0;
              top: 50%;
              width: 50%;
              transform: translateY(-50%);
              padding: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &:hover {
              .bg__img {
                &.light {
                  background-image: url("../images/ms2_light_on.jpg");
                }
              }

              .txt {
                color: var(--color-white);
              }
            }
          }

          &.left3 {
            height: 38.125rem;

            .bar {
              position: absolute;
              left: 50%;
              top: 1rem;
              z-index: 20;
              transform: translateX(-50%);
              background: var(--color-white);
              width: 50px;
              height: 4px;
              border-radius: 20px;
            }

            .before {
              position: relative;
              width: 100%;
              height: 100%;
              transition: all 0.6s ease;

              .member__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .tit {
                position: absolute;
                left: 1.875rem;
                bottom: 1.875rem;
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 1.2;
                letter-spacing: -0.02em;
                color: var(--color-white);
              }
            }
          }
        }
      }

      &.ms2__right {
        width: calc(100% - var(--box-width) - 1.5rem);
        .ms2__top {
          display: flex;
          gap: 1.5rem;
          .top__item {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
          }
        }
        .top__left {
          width: calc(100% - var(--box-width) - 1.5rem);
          .top {
            height: 24.75rem;
            > .item {
              .link__item {
                .work {
                  background-image: url(../images/ms2_work.jpg);
                }
                &:hover {
                  .bg_img {
                    opacity: 1;
                  }
                }
              }
            }
          }
          .bottom {
            height: 35.25rem;
            position: relative;
            border-radius: var(--radius);
            overflow: hidden;
            background: var(--color-box-bg);
            .vidbox {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #9fd3c7;
                mix-blend-mode: multiply;
              }
              .ms2__video {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .top__box {
              position: relative;
              .tit {
                font-weight: 600;
                font-size: 3.125rem;
                line-height: 100%;
                letter-spacing: -0.02em;
                color: var(--color-white);
              }
            }
            .bottom__box {
              position: relative;
            }
          }
        }

        .ms2__bottom {
          display: flex;
          gap: 1.5rem;
          width: 100%;
          height: 16.125rem;
          .bottom1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;
            .date {
              width: 50%;
              height: fit-content;
              max-width: 5.375rem;
              aspect-ratio: 1 / 1;
              display: flex;
              flex-direction: column;
              border-radius: 1rem;
              background-color: #8576e5;
              padding: 0.625rem;
              span {
                font-weight: 500;
                font-size: 1.875rem;
                line-height: 1.1;
                letter-spacing: -0.02em;
                color: var(--color-white);
                display: inline-block;
              }
            }
            .bottom__box {
              width: 100%;
              .time {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                border: 4px solid #e0e0e0;
                font-weight: 500;
                font-size: 3.75rem;
                line-height: 1;
                letter-spacing: -0.02em;
                text-align: center;
                color: var(--color_black);
                padding: 1.25rem 0.5rem;
              }
            }
            .time__dot {
              animation: blink-effect 1s step-end infinite;
            }
          }
        }
      }
    }

    .item {
      position: relative;
      border-radius: var(--radius);
      background: var(--color-box-bg);
      overflow: hidden;
    }
  }
}

.ms3 {
  border-radius: var(--radius);
  background: var(--color-box-bg);
  margin: 1.5rem auto;
  width: calc(100% - 4rem * 2);
  overflow: hidden;
  transition: var(--darkmode);

  .ms3_pin {
    width: auto;
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;

    .pin__wrap {
      position: relative;
      height: 100vh;

      .work__list {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.125vw;
        padding: 80px 39.25vw 3.75rem;
        width: max-content;
        height: 80vh;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 100%;
          height: 1px;
          background: #1d969c;
        }

        .link {
          position: relative;
          overflow: hidden;
          display: block;
          .box {
            position: relative;
            width: 100%;
            display: flex;
            border-radius: var(--radius);
            overflow: hidden;
            .img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
            .txt__box {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transition: var(--darkmode);
              background: rgba(0, 0, 0, 0.6);
              opacity: 0;
              pointer-events: none;

              .txt {
                font-size: 1.15vw;
                line-height: 1.3;
                letter-spacing: -0.02em;
                color: var(--color-white);
                position: absolute;
                left: 9%;
                bottom: 1.5vw;
                transition: var(--darkmode);
                transform: translateY(50px);
                opacity: 0;
              }
            }
            &:hover {
              .txt__box {
                opacity: 1;
                .txt {
                  transform: translateY(0);
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .ms3__txt_wrap {
        position: absolute;
        left: 0;
        bottom: -40px;

        .ms3__txt_box {
          display: flex;
          flex-direction: column;
          will-change: transform;
          margin: 0 0 5.5rem 5.5rem;
          width: 100%;

          .txt__inner {
            width: 382px;

            .top__txt_box {
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 1rem;
              margin-bottom: 1.25rem;

              .tit {
                font-weight: bold;
                font-size: 2.813rem;
                line-height: 1;
                letter-spacing: -0.02em;
                color: var(--color-black);
                transition: var(--darkmode);
              }

              .more__btn {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: var(--color-black);
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--color-white);
                font-size: 1.5rem;
                transition: var(--darkmode);

                i {
                  transition: var(--darkmode);
                }

                &:hover i {
                  transform: rotate(180deg);
                }
              }
            }

            .content__box {
              margin-bottom: 1.5rem;

              .content__txt {
                font-size: 1rem;
                line-height: 1.6;
                letter-spacing: -0.02em;
                color: var(--color-black);
                transition: var(--darkmode);
              }
            }
          }
        }
      }
    }
  }
}

.ms4 {
  margin-bottom: 1.5rem;

  .ms4__content_box {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    .left__box {
      width: 36.8%;
      max-width: 657px;
      display: flex;
      align-self: stretch;
      gap: 1.5rem;

      .bg__img {
        background: no-repeat center/cover #1e1e1e;
        align-self: stretch;
        border-radius: 1.875rem;
        transition: all 0.4s ease;
        cursor: pointer;

        &.left {
          background-image: url("../images/ms4_left_light_on.jpg");
          background-position: right center;
          width: 30.9%;
          max-width: 12.688rem;
        }

        &.left:hover {
          background-image: url("../images/ms4_left_light.jpg");
        }

        &.right {
          background-image: url("../images/ms4_right_light.jpg");
          background-position: left center;
          width: calc(69.1% - 1.5rem);
        }

        &.right:hover {
          background-image: url("../images/ms4_right_light_on.jpg");
        }
      }
    }

    .right__box {
      flex: 1;
      .send__box {
        border: 1px solid #1f2025;
        border-radius: 1.125rem;
        background: var(--color-black);

        .btn_send {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1.25rem 2.375rem;

          .txt__box {
            flex: 1;
            position: relative;
            text-align: left;

            .send__txt {
              font-size: 1.5rem;
              line-height: 1.3;
              letter-spacing: -0.02em;
              color: var(--color-white);
              transition: var(--darkmode);

              &:nth-child(2) {
                position: absolute;
                left: 0;
                opacity: 0;
              }
            }
          }

          .icon__box {
            display: flex;
            width: 2rem;
            aspect-ratio: 1 / 1;

            .send__icon {
              .ico::after {
                content: "\f0e0";
                font-family: "FontAwesome", serif;
                font-size: 1.5rem;
                color: var(--color-white);
                aspect-ratio: 1 / 1;
                transition: var(--darkmode);
              }
            }
          }

          &:hover {
            .send__txt {
              &:nth-child(1) {
                opacity: 0;
              }

              &:nth-child(2) {
                opacity: 1;
              }
            }

            .send__icon {
              .ico::after {
                content: "\f2b6";
              }
            }
          }
        }
      }
    }
  }

  .ms4__sns_box {
    display: flex;
    gap: 1.5rem;

    .item {
      width: 25%;
      min-height: 16.125rem;
      background: var(--color-box-bg);
      border-radius: var(--radius);

      &.pinterest:hover {
        .icon,
        .word {
          color: #e60019;
        }
      }

      &.behance:hover {
        .icon,
        .word {
          color: #1157ff;
        }
      }

      &.slack:hover {
        .icon,
        .word {
          color: #ecb22e;
        }
      }

      &.kace:hover {
        .icon,
        .word {
          color: #1d969c;
        }
      }

      .link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.875rem;
        width: 100%;
        height: 100%;

        .icon {
          color: var(--color-black);
          font-size: 2.5rem;
          width: 80px;
          height: 80px;
          background: #dbdbdb;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          transition: all 0.4s ease;
        }

        .txt {
          font-weight: 600;
          font-size: 1.5rem;
          line-height: 1.3;
          letter-spacing: -0.02em;
          display: inline-flex;

          .word {
            display: inline-block;
            transition: all 0.4s ease;
          }
        }
      }
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .form__content {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    background: var(--color-box-bg);
    border-radius: var(--radius);
    padding: 2.75rem 1.875rem 1.875rem;
    transition: var(--darkmode);

    .form__box {
      display: flex;
      gap: 1.5rem;
      &.form__inline {
        .form__item {
          width: 50%;
        }
      }
      .form__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        &.to_mail {
          flex-direction: row;
          align-items: center;
          gap: 1.125rem;
          margin-bottom: -0.563rem;
        }

        .to__txt,
        .form__tit {
          font-size: 1.125rem;
          line-height: 1.3;
          letter-spacing: -0.02em;
          color: #999;
        }

        .mail__txt {
          font-size: 1.125rem;
          line-height: 1.3;
          letter-spacing: -0.02em;
          color: var(--color-black);
          border-radius: 0.625rem;
          padding: 0.375rem 1.5rem;
          background: #ccc;
          transition: var(--darkmode);
        }

        .form__tit {
          transition: var(--darkmode);
        }

        textarea.input__text {
          height: 9.688rem;
          resize: none;
        }

        .input__text {
          background: transparent;
          outline: none;
          border: none;
          width: 100%;
          border-bottom: 1px solid #999;
          padding: 0.563rem 0;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.3;
          letter-spacing: -0.02em;
          color: var(--color-black);
          transition: var(--darkmode);
          border-radius: 0;
        }

        &.error .input__text {
          color: #f00;
        }
      }
    }
  }
}
.footer {
  width: 100%;
  padding: 0 4rem 4rem;
  height: 38.75rem;

  .footer__inner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4.5rem 5rem;
    height: 100%;
    background: url(../images/footer_bg.png) center / cover no-repeat;
    border-radius: var(--radius);

    .footer__logo {
      max-width: 180px;
    }

    .footer__txt_box {
      .txt {
        font-size: 1rem;
        line-height: 1.6;
        letter-spacing: 0.02em;
        color: var(--color-gray);
      }

      .txt:nth-child(4),
      .txt:nth-child(5) {
        margin: 5px 0 10px;
      }
    }
  }
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
